section#main
	.container
		h1.main-title 
			span Внимание! 
			|  Предложение на этой странице действительно только сегодня. Из-за возросшего спроса мы не можем гарантировать сохранение данных условий после 
			span.today
		h2.main-subtitle Смотрите это короткое видео
		.video-wrapper.video-wrapper-main
			iframe(src="https://youtube.com/embed/VFpfmCTmLAI?mute=1&autoplay=1")