{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js",
        ".htaccess"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/turman.info",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1582175377748.8318,
          "ctimeMs": 1582175396604.5278,
          "date": "2020-02-20T05:24:49.842Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1582175857613.9827,
          "ctimeMs": 1582175857617.9858,
          "date": "2020-02-20T05:24:50.181Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1584596390718.932,
          "ctimeMs": 1584596390718.932,
          "date": "2020-03-19T05:50:39.206Z"
        },
        {
          "file": "404/index.html",
          "mtimeMs": 1582722784225.842,
          "ctimeMs": 1582722784225.842,
          "date": "2020-02-26T13:13:08.119Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1584597387323.9204,
          "ctimeMs": 1584597387323.9204,
          "date": "2020-03-19T06:14:42.686Z"
        },
        {
          "file": "fonts/Akrobat.eot",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189602.287,
          "date": "2020-02-20T05:24:51.945Z"
        },
        {
          "file": "fonts/Akrobat.svg",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189602.287,
          "date": "2020-02-20T05:24:52.434Z"
        },
        {
          "file": "fonts/Akrobat.ttf",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189602.287,
          "date": "2020-02-20T05:24:52.827Z"
        },
        {
          "file": "fonts/Akrobat.woff",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189602.287,
          "date": "2020-02-20T05:24:53.238Z"
        },
        {
          "file": "fonts/Akrobat.woff2",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189617.9116,
          "date": "2020-02-20T05:24:53.592Z"
        },
        {
          "file": "fonts/OpenSansBold.eot",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174309824.473,
          "date": "2020-02-20T05:24:54.080Z"
        },
        {
          "file": "fonts/OpenSansBold.svg",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174313856.265,
          "date": "2020-02-20T05:24:54.700Z"
        },
        {
          "file": "fonts/OpenSansBold.ttf",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174315153.1997,
          "date": "2020-02-20T05:24:55.144Z"
        },
        {
          "file": "fonts/OpenSansBold.woff",
          "mtimeMs": 1582156150000,
          "ctimeMs": 1582174316450.2515,
          "date": "2020-02-20T05:24:55.533Z"
        },
        {
          "file": "fonts/OpenSansBold.woff2",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174309824.473,
          "date": "2020-02-20T05:24:55.912Z"
        },
        {
          "file": "fonts/PTSans.eot",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174281488.5208,
          "date": "2020-02-20T05:24:56.393Z"
        },
        {
          "file": "fonts/PTSans.svg",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174288087.1858,
          "date": "2020-02-20T05:24:56.926Z"
        },
        {
          "file": "fonts/PTSans.ttf",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174290931.2412,
          "date": "2020-02-20T05:24:57.393Z"
        },
        {
          "file": "fonts/PTSans.woff",
          "mtimeMs": 1582156150000,
          "ctimeMs": 1582174294290.9873,
          "date": "2020-02-20T05:24:57.838Z"
        },
        {
          "file": "fonts/PTSans.woff2",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174281488.5208,
          "date": "2020-02-20T05:24:58.248Z"
        },
        {
          "file": "fonts/PTSansBold.eot",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174245020.8965,
          "date": "2020-02-20T05:24:58.709Z"
        },
        {
          "file": "fonts/PTSansBold.svg",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174249162.0825,
          "date": "2020-02-20T05:24:59.231Z"
        },
        {
          "file": "fonts/PTSansBold.ttf",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174250662.3594,
          "date": "2020-02-20T05:24:59.719Z"
        },
        {
          "file": "fonts/PTSansBold.woff",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174253131.3425,
          "date": "2020-02-20T05:25:00.169Z"
        },
        {
          "file": "fonts/PTSansBold.woff2",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174245020.8965,
          "date": "2020-02-20T05:25:00.594Z"
        },
        {
          "file": "fonts/PTSansItalic.eot",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174209934.385,
          "date": "2020-02-20T05:25:01.128Z"
        },
        {
          "file": "fonts/PTSansItalic.svg",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174216903.963,
          "date": "2020-02-20T05:25:01.634Z"
        },
        {
          "file": "fonts/PTSansItalic.ttf",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174219122.959,
          "date": "2020-02-20T05:25:02.098Z"
        },
        {
          "file": "fonts/PTSansItalic.woff",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174221857.675,
          "date": "2020-02-20T05:25:02.571Z"
        },
        {
          "file": "fonts/PTSansItalic.woff2",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174209950.0078,
          "date": "2020-02-20T05:25:02.980Z"
        },
        {
          "file": "img/backs/main-bg.jpg",
          "mtimeMs": 1582200852866.4856,
          "ctimeMs": 1582200852866.4856,
          "date": "2020-02-20T12:14:47.260Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1582205388182.749,
          "ctimeMs": 1582205388183.747,
          "date": "2020-02-20T13:31:10.658Z"
        },
        {
          "file": "img/icons/lupe.png",
          "mtimeMs": 1582205358057.1812,
          "ctimeMs": 1582205358058.1821,
          "date": "2020-02-20T13:31:11.319Z"
        },
        {
          "file": "img/icons/tube.png",
          "mtimeMs": 1582205379506.5952,
          "ctimeMs": 1582205379507.5955,
          "date": "2020-02-20T13:31:11.648Z"
        },
        {
          "file": "img/icons/why-icon-1.png",
          "mtimeMs": 1582201978059.564,
          "ctimeMs": 1582201978059.564,
          "date": "2020-02-20T12:33:18.619Z"
        },
        {
          "file": "img/icons/why-icon-2.png",
          "mtimeMs": 1582201981791.9768,
          "ctimeMs": 1582201981792.978,
          "date": "2020-02-20T12:33:18.901Z"
        },
        {
          "file": "img/icons/why-icon-3.png",
          "mtimeMs": 1582201987170.5828,
          "ctimeMs": 1582201987193.5957,
          "date": "2020-02-20T12:33:19.199Z"
        },
        {
          "file": "img/icons/why-icon-4.png",
          "mtimeMs": 1582201992394.6099,
          "ctimeMs": 1582201992394.6099,
          "date": "2020-02-20T12:33:19.519Z"
        },
        {
          "file": "img/images/author.jpg",
          "mtimeMs": 1582205447221.067,
          "ctimeMs": 1582205447221.067,
          "date": "2020-02-20T13:31:12.037Z"
        },
        {
          "file": "img/images/turman.png",
          "mtimeMs": 1582200871961.2595,
          "ctimeMs": 1582200871962.2578,
          "date": "2020-02-20T12:14:48.033Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1584596400802.6147,
          "ctimeMs": 1584596400802.6147,
          "date": "2020-03-19T05:50:40.353Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1582200864561.2104,
          "ctimeMs": 1582200864562.2097,
          "date": "2020-02-20T12:14:47.557Z"
        },
        {
          "file": "img/images/performance-img-1.jpg",
          "mtimeMs": 1582209716696.4077,
          "ctimeMs": 1582209716696.4077,
          "date": "2020-02-20T14:42:48.581Z"
        },
        {
          "file": "img/images/performance-img-2.jpg",
          "mtimeMs": 1582209728678.1287,
          "ctimeMs": 1582209728678.1287,
          "date": "2020-02-20T14:42:49.508Z"
        },
        {
          "file": "img/images/performance-img-3.jpg",
          "mtimeMs": 1582209738156.487,
          "ctimeMs": 1582209738156.487,
          "date": "2020-02-20T14:42:50.432Z"
        },
        {
          "file": "img/images/performance-img-4.jpg",
          "mtimeMs": 1582209748543.929,
          "ctimeMs": 1582209748543.929,
          "date": "2020-02-20T14:42:51.411Z"
        },
        {
          "file": "img/images/performance-img-5.jpg",
          "mtimeMs": 1582209759074.6465,
          "ctimeMs": 1582209759074.6465,
          "date": "2020-02-20T14:42:52.343Z"
        },
        {
          "file": "img/images/money.jpg",
          "mtimeMs": 1582205408348.958,
          "ctimeMs": 1582205408348.958,
          "date": "2020-02-20T13:31:12.443Z"
        },
        {
          "file": "img/images/footer-logo.png",
          "mtimeMs": 1582207962670.9043,
          "ctimeMs": 1582536953202.8396,
          "date": "2020-02-24T09:38:59.858Z"
        },
        {
          "file": "img/images/performance-img-1.min.jpg",
          "mtimeMs": 1582209721324.3848,
          "ctimeMs": 1582209721324.3848,
          "date": "2020-02-20T14:42:49.024Z"
        },
        {
          "file": "img/images/performance-img-2.min.jpg",
          "mtimeMs": 1582209734448.133,
          "ctimeMs": 1582209734448.133,
          "date": "2020-02-20T14:42:49.930Z"
        },
        {
          "file": "img/images/performance-img-3.min.jpg",
          "mtimeMs": 1582209743064.796,
          "ctimeMs": 1582209743064.796,
          "date": "2020-02-20T14:42:50.888Z"
        },
        {
          "file": "img/images/performance-img-4.min.jpg",
          "mtimeMs": 1582209754434.302,
          "ctimeMs": 1582209754434.302,
          "date": "2020-02-20T14:42:51.850Z"
        },
        {
          "file": "img/images/performance-img-5.min.jpg",
          "mtimeMs": 1582209764321.115,
          "ctimeMs": 1582209764321.115,
          "date": "2020-02-20T14:42:52.775Z"
        },
        {
          "file": "css/styles-ie.min.css",
          "mtimeMs": 1582211003917.1455,
          "ctimeMs": 1582211003917.1455,
          "date": "2020-02-20T15:03:35.610Z"
        },
        {
          "file": "img/icons/footer-soc-buttons.png",
          "mtimeMs": 1582536693497.692,
          "ctimeMs": 1582536693501.6953,
          "date": "2020-02-24T09:31:42.639Z"
        },
        {
          "file": "img/icons/header-soc-buttons.png",
          "mtimeMs": 1582536694004.0635,
          "ctimeMs": 1582536694007.0647,
          "date": "2020-02-24T09:31:43.265Z"
        },
        {
          "file": "congratulations/index.html",
          "mtimeMs": 1584447563673.2507,
          "ctimeMs": 1584447563673.2507,
          "date": "2020-03-17T12:24:27.759Z"
        },
        {
          "file": "css/congratulations-ie.min.css",
          "mtimeMs": 1582722887745.0535,
          "ctimeMs": 1582722887745.0535,
          "date": "2020-02-26T13:14:51.077Z"
        },
        {
          "file": "css/congratulations.min.css",
          "mtimeMs": 1584089986111.824,
          "ctimeMs": 1584089986111.824,
          "date": "2020-03-13T09:05:05.667Z"
        },
        {
          "file": "js/congratulations.min.js",
          "mtimeMs": 1582722580029.053,
          "ctimeMs": 1582722580029.053,
          "date": "2020-02-26T13:10:36.421Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1582871971493.618,
          "ctimeMs": 1582871971493.618,
          "date": "2020-02-28T06:44:18.157Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1582871976486.1023,
          "ctimeMs": 1582871976486.1023,
          "date": "2020-02-28T06:44:18.508Z"
        },
        {
          "file": "css/special-offer-ie.min.css",
          "mtimeMs": 1584599537562.5315,
          "ctimeMs": 1584599537562.5315,
          "date": "2020-03-19T06:32:20.962Z"
        },
        {
          "file": "css/special-offer.min.css",
          "mtimeMs": 1584598463189.8472,
          "ctimeMs": 1584598463189.8472,
          "date": "2020-03-19T06:14:42.313Z"
        },
        {
          "file": "img/icons/clock.svg",
          "mtimeMs": 1583925640421.784,
          "ctimeMs": 1583925640421.784,
          "date": "2020-03-11T18:16:00.128Z"
        },
        {
          "file": "js/special-offer.min.js",
          "mtimeMs": 1584599349007.6216,
          "ctimeMs": 1584599349007.6216,
          "date": "2020-03-19T06:31:13.500Z"
        },
        {
          "file": "special-offer/index.html",
          "mtimeMs": 1584597321868.2703,
          "ctimeMs": 1584597321868.2703,
          "date": "2020-03-19T06:14:43.083Z"
        },
        {
          "file": "img/icons/Thumbs.db",
          "mtimeMs": 1584087653692,
          "ctimeMs": 1584087653693.4395,
          "date": "2020-03-13T09:05:07.862Z"
        },
        {
          "file": "img/icons/item-1.png",
          "mtimeMs": 1584087633715.3718,
          "ctimeMs": 1584087633717.376,
          "date": "2020-03-13T09:05:08.454Z"
        },
        {
          "file": "img/icons/item-2.png",
          "mtimeMs": 1584087637543.7517,
          "ctimeMs": 1584087637544.7524,
          "date": "2020-03-13T09:05:08.976Z"
        },
        {
          "file": "img/icons/item-3.png",
          "mtimeMs": 1584087644483.6465,
          "ctimeMs": 1584087644485.6482,
          "date": "2020-03-13T09:05:09.518Z"
        },
        {
          "file": "img/icons/item-4.png",
          "mtimeMs": 1584087648179.7012,
          "ctimeMs": 1584087648181.703,
          "date": "2020-03-13T09:05:10.017Z"
        },
        {
          "file": "img/icons/item-5.png",
          "mtimeMs": 1584087652678.7676,
          "ctimeMs": 1584087652681.7693,
          "date": "2020-03-13T09:05:10.474Z"
        },
        {
          "file": "img/images/Thumbs.db",
          "mtimeMs": 1584079622693,
          "ctimeMs": 1584079622693.7458,
          "date": "2020-03-13T09:05:11.509Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/404.pug",
        "config": {
          "customOutput": "404\\index.html"
        }
      },
      {
        "file": "_app/_js/congratulations.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\congratulations.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/_js/sp.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\special-offer.min.js"
        }
      },
      {
        "file": "_app/congratulations.pug",
        "config": {
          "customOutput": "congratulations\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/special-offer.pug",
        "config": {
          "customOutput": "special-offer\\index.html"
        }
      },
      {
        "file": "_app/styl/congratulations-ie.min.styl",
        "config": {
          "customOutput": "css\\congratulations-ie.min.css"
        }
      },
      {
        "file": "_app/styl/congratulations.styl",
        "config": {
          "customOutput": "css\\congratulations.min.css"
        }
      },
      {
        "file": "_app/styl/special-offer-ie.styl",
        "config": {
          "customOutput": "css\\special-offer-ie.min.css"
        }
      },
      {
        "file": "_app/styl/special-offer.styl",
        "config": {
          "customOutput": "css\\special-offer.min.css"
        }
      },
      {
        "file": "_app/styl/styles-ie.min.styl",
        "config": {
          "customOutput": "css\\styles-ie.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "favicon.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 619,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 113652,
          "optimized": true
        }
      },
      {
        "file": "img/icons/envelope.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 672,
          "optimized": true
        }
      },
      {
        "file": "img/icons/footer-soc-buttons.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 3644,
          "optimized": true
        }
      },
      {
        "file": "img/icons/footer-soc-buttons.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 3350,
          "optimized": true
        }
      },
      {
        "file": "img/icons/header-soc-buttons.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1291,
          "optimized": true
        }
      },
      {
        "file": "img/icons/header-soc-buttons.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 1338,
          "optimized": true
        }
      },
      {
        "file": "img/icons/item-1.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 938,
          "optimized": true
        }
      },
      {
        "file": "img/icons/item-2.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1155,
          "optimized": true
        }
      },
      {
        "file": "img/icons/item-3.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1718,
          "optimized": true
        }
      },
      {
        "file": "img/icons/item-4.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1588,
          "optimized": true
        }
      },
      {
        "file": "img/icons/item-5.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 977,
          "optimized": true
        }
      },
      {
        "file": "img/icons/lupe.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 2164,
          "optimized": true
        }
      },
      {
        "file": "img/icons/tube.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 652,
          "optimized": true
        }
      },
      {
        "file": "img/icons/why-icon-1.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 3187,
          "optimized": true
        }
      },
      {
        "file": "img/icons/why-icon-2.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 2733,
          "optimized": true
        }
      },
      {
        "file": "img/icons/why-icon-3.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 3048,
          "optimized": true
        }
      },
      {
        "file": "img/icons/why-icon-4.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 2670,
          "optimized": true
        }
      },
      {
        "file": "img/images/author.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 73490,
          "optimized": true
        }
      },
      {
        "file": "img/images/footer-logo.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 5197,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 7703,
          "optimized": true
        }
      },
      {
        "file": "img/images/money.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 40815,
          "optimized": true
        }
      },
      {
        "file": "img/images/performance-img-1.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 515382
        }
      },
      {
        "file": "img/images/performance-img-1.min.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 35774,
          "optimized": true
        }
      },
      {
        "file": "img/images/performance-img-2.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 580092
        }
      },
      {
        "file": "img/images/performance-img-2.min.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 50048,
          "optimized": true
        }
      },
      {
        "file": "img/images/performance-img-3.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 393196
        }
      },
      {
        "file": "img/images/performance-img-3.min.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 101552,
          "optimized": true
        }
      },
      {
        "file": "img/images/performance-img-4.jpg",
        "config": {
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 451979
        }
      },
      {
        "file": "img/images/performance-img-4.min.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 44782,
          "optimized": true
        }
      },
      {
        "file": "img/images/performance-img-5.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 307352
        }
      },
      {
        "file": "img/images/performance-img-5.min.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 43112,
          "optimized": true
        }
      },
      {
        "file": "img/images/turman.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 536115,
          "optimized": true
        }
      },
      {
        "file": "img/revs/video-1.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 63936,
          "optimized": true
        }
      },
      {
        "file": "img/revs/video-2.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 40591,
          "optimized": true
        }
      }
    ]
  }
}
