{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js",
        ".htaccess"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/turman.info",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1582175377748.8318,
          "ctimeMs": 1582175396604.5278,
          "date": "2020-02-20T05:24:49.842Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1582175857613.9827,
          "ctimeMs": 1582175857617.9858,
          "date": "2020-02-20T05:24:50.181Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1582186433010.351,
          "ctimeMs": 1582186433010.351,
          "date": "2020-02-20T08:14:20.795Z"
        },
        {
          "file": "404/index.html",
          "mtimeMs": 1582178613551.6167,
          "ctimeMs": 1582178613551.6167,
          "date": "2020-02-20T07:19:58.770Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1582179875331.567,
          "ctimeMs": 1582179875331.567,
          "date": "2020-02-20T07:19:59.035Z"
        },
        {
          "file": "fonts/Akrobat.css",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174182242.307,
          "date": "2020-02-20T05:24:51.485Z"
        },
        {
          "file": "fonts/Akrobat.eot",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189602.287,
          "date": "2020-02-20T05:24:51.945Z"
        },
        {
          "file": "fonts/Akrobat.svg",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189602.287,
          "date": "2020-02-20T05:24:52.434Z"
        },
        {
          "file": "fonts/Akrobat.ttf",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189602.287,
          "date": "2020-02-20T05:24:52.827Z"
        },
        {
          "file": "fonts/Akrobat.woff",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189602.287,
          "date": "2020-02-20T05:24:53.238Z"
        },
        {
          "file": "fonts/Akrobat.woff2",
          "mtimeMs": 1582156088000,
          "ctimeMs": 1582174189617.9116,
          "date": "2020-02-20T05:24:53.592Z"
        },
        {
          "file": "fonts/OpenSansBold.eot",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174309824.473,
          "date": "2020-02-20T05:24:54.080Z"
        },
        {
          "file": "fonts/OpenSansBold.svg",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174313856.265,
          "date": "2020-02-20T05:24:54.700Z"
        },
        {
          "file": "fonts/OpenSansBold.ttf",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174315153.1997,
          "date": "2020-02-20T05:24:55.144Z"
        },
        {
          "file": "fonts/OpenSansBold.woff",
          "mtimeMs": 1582156150000,
          "ctimeMs": 1582174316450.2515,
          "date": "2020-02-20T05:24:55.533Z"
        },
        {
          "file": "fonts/OpenSansBold.woff2",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174309824.473,
          "date": "2020-02-20T05:24:55.912Z"
        },
        {
          "file": "fonts/PTSans.eot",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174281488.5208,
          "date": "2020-02-20T05:24:56.393Z"
        },
        {
          "file": "fonts/PTSans.svg",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174288087.1858,
          "date": "2020-02-20T05:24:56.926Z"
        },
        {
          "file": "fonts/PTSans.ttf",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174290931.2412,
          "date": "2020-02-20T05:24:57.393Z"
        },
        {
          "file": "fonts/PTSans.woff",
          "mtimeMs": 1582156150000,
          "ctimeMs": 1582174294290.9873,
          "date": "2020-02-20T05:24:57.838Z"
        },
        {
          "file": "fonts/PTSans.woff2",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174281488.5208,
          "date": "2020-02-20T05:24:58.248Z"
        },
        {
          "file": "fonts/PTSansBold.eot",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174245020.8965,
          "date": "2020-02-20T05:24:58.709Z"
        },
        {
          "file": "fonts/PTSansBold.svg",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174249162.0825,
          "date": "2020-02-20T05:24:59.231Z"
        },
        {
          "file": "fonts/PTSansBold.ttf",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174250662.3594,
          "date": "2020-02-20T05:24:59.719Z"
        },
        {
          "file": "fonts/PTSansBold.woff",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174253131.3425,
          "date": "2020-02-20T05:25:00.169Z"
        },
        {
          "file": "fonts/PTSansBold.woff2",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174245020.8965,
          "date": "2020-02-20T05:25:00.594Z"
        },
        {
          "file": "fonts/PTSansItalic.eot",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174209934.385,
          "date": "2020-02-20T05:25:01.128Z"
        },
        {
          "file": "fonts/PTSansItalic.svg",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174216903.963,
          "date": "2020-02-20T05:25:01.634Z"
        },
        {
          "file": "fonts/PTSansItalic.ttf",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174219122.959,
          "date": "2020-02-20T05:25:02.098Z"
        },
        {
          "file": "fonts/PTSansItalic.woff",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174221857.675,
          "date": "2020-02-20T05:25:02.571Z"
        },
        {
          "file": "fonts/PTSansItalic.woff2",
          "mtimeMs": 1582156152000,
          "ctimeMs": 1582174209950.0078,
          "date": "2020-02-20T05:25:02.980Z"
        },
        {
          "file": "img/backs/main-bg.jpg",
          "mtimeMs": 1582174653265.34,
          "ctimeMs": 1582174983804.3691,
          "date": "2020-02-20T05:25:03.403Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1582174653153.2654,
          "ctimeMs": 1582174972271.7341,
          "date": "2020-02-20T05:25:03.776Z"
        },
        {
          "file": "img/icons/lupe.png",
          "mtimeMs": 1582174735658.119,
          "ctimeMs": 1582174972287.3604,
          "date": "2020-02-20T05:25:05.338Z"
        },
        {
          "file": "img/icons/tube.png",
          "mtimeMs": 1582174653264.84,
          "ctimeMs": 1582174972287.3604,
          "date": "2020-02-20T05:25:05.653Z"
        },
        {
          "file": "img/icons/why-icon-1.png",
          "mtimeMs": 1582174653914.6135,
          "ctimeMs": 1582174972302.9858,
          "date": "2020-02-20T05:25:07.237Z"
        },
        {
          "file": "img/icons/why-icon-2.png",
          "mtimeMs": 1582174654367.7578,
          "ctimeMs": 1582174972302.9858,
          "date": "2020-02-20T05:25:07.558Z"
        },
        {
          "file": "img/icons/why-icon-3.png",
          "mtimeMs": 1582174654555.2668,
          "ctimeMs": 1582174972302.9858,
          "date": "2020-02-20T05:25:07.885Z"
        },
        {
          "file": "img/icons/why-icon-4.png",
          "mtimeMs": 1582174654633.395,
          "ctimeMs": 1582174972302.9858,
          "date": "2020-02-20T05:25:08.230Z"
        },
        {
          "file": "img/images/author.jpg",
          "mtimeMs": 1582174654789.6526,
          "ctimeMs": 1582174992336.581,
          "date": "2020-02-20T05:25:09.274Z"
        },
        {
          "file": "img/images/money.png",
          "mtimeMs": 1582174654602.1436,
          "ctimeMs": 1582174992336.581,
          "date": "2020-02-20T05:25:09.761Z"
        },
        {
          "file": "img/images/turman.png",
          "mtimeMs": 1582174653398.9612,
          "ctimeMs": 1582174992367.8384,
          "date": "2020-02-20T05:25:12.444Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1521798135995.4568,
          "ctimeMs": 1581507017888.9907,
          "date": "2020-02-20T05:25:12.778Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1582180021811.704,
          "ctimeMs": 1582180029404.8108,
          "date": "2020-02-20T07:19:59.360Z"
        },
        {
          "file": "img/images/performance-img-1.jpg",
          "mtimeMs": 1582174663321.9556,
          "ctimeMs": 1582181784802.6768,
          "date": "2020-02-20T07:19:59.766Z"
        },
        {
          "file": "img/images/performance-img-2.jpg",
          "mtimeMs": 1582174716359.0315,
          "ctimeMs": 1582181789185.2493,
          "date": "2020-02-20T07:20:00.138Z"
        },
        {
          "file": "img/images/performance-img-3.jpg",
          "mtimeMs": 1582174712921.2002,
          "ctimeMs": 1582181792187.7124,
          "date": "2020-02-20T07:20:00.513Z"
        },
        {
          "file": "img/images/performance-img-4.jpg",
          "mtimeMs": 1582174724969.3271,
          "ctimeMs": 1582181795594.482,
          "date": "2020-02-20T07:20:00.877Z"
        },
        {
          "file": "img/images/performance-img-5.jpg",
          "mtimeMs": 1582174728344.651,
          "ctimeMs": 1582181798415.4307,
          "date": "2020-02-20T07:20:01.231Z"
        },
        {
          "file": "img/icons/footer-soc-buttons.jpg",
          "mtimeMs": 1582186230523.1375,
          "ctimeMs": 1582186230523.1375,
          "date": "2020-02-20T08:14:21.082Z"
        },
        {
          "file": "img/icons/header-soc-buttons.jpg",
          "mtimeMs": 1582185408679.8284,
          "ctimeMs": 1582185408679.8284,
          "date": "2020-02-20T08:14:21.393Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/404.pug",
        "config": {
          "customOutput": "404\\index.html"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "favicon.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 619,
          "optimized": true
        }
      }
    ]
  }
}
