header
	.container
		.row
			.col-md-10.col-sm-10
				.header-contacts
					a.contact.contact-email(href="mailto:" target="_blank") info@site.ru
					a.contact.contact-phone(href="callto:" target="_blank") 7/968/418-63-69
					a.contact.contact-phone(href="callto:" target="_blank") 7/968/418-63-69
			.col-md-2.col-sm-2
				.header-soc-buttons
					img(usemap="#header-soc-buttons" src="img/icons/header-soc-buttons.jpg")
					map(name="header-soc-buttons")
						area(shape="rect" coords="0,0,9,15"  href="https://turman/fb/" target="_blank")
						area(shape="rect" coords="10,0,31,15"  href="https://turman/tw/" target="_blank")
						area(shape="rect" coords="32,0,57,15"  href="https://turman/vk/" target="_blank")
						area(shape="rect" coords="58,0,82,15"  href="https://turman/yt/" target="_blank")
						area(shape="rect" coords="83,0,100,15"  href="https://turman/insta/" target="_blank")
				//- .header-soc-buttons
				//- 	a.header-cos-button.header-soc-button-fb(href="http://", target="_blank")
				//- 	a.header-cos-button.header-soc-button-tw(href="http://", target="_blank")
				//- 	a.header-cos-button.header-soc-button-vk(href="http://", target="_blank")
				//- 	a.header-cos-button.header-soc-button-yt(href="http://", target="_blank")
				//- 	a.header-cos-button.header-soc-button-insta(href="http://", target="_blank")