header
	.row
		.col-md-10.col-sm-10
			.header-contacts
				a.contact.contact-email(href="mailto:" target="_blank") info@site.ru
				a.contact.contact-phone(href="callto:" target="_blank") 7/968/418-63-69
				a.contact.contact-phone(href="callto:" target="_blank") 7/968/418-63-69
		.col-md-2.col-sm-2
			.header-soc-buttons
				a.header-cos-button.header-soc-button-fb(href="http://", target="_blank")
				a.header-cos-button.header-soc-button-tw(href="http://", target="_blank")
				a.header-cos-button.header-soc-button-vk(href="http://", target="_blank")
				a.header-cos-button.header-soc-button-yt(href="http://", target="_blank")
				a.header-cos-button.header-soc-button-insta(href="http://", target="_blank")