header
	.container
		.row
			.col-md-10.col-sm-10
				.header-contacts
					a.contact.contact-email(href="mailto:info@turman.info" target="_blank") info@turman.info
					a.contact.contact-phone(href="callto:84993467946" target="_blank") 8/499/346-79-46
			.col-md-2.col-sm-2
				.header-soc-buttons
					img(usemap="#header-soc-buttons" src="img/icons/header-soc-buttons.png")
					map(name="header-soc-buttons")
						area(shape="rect" coords="0,0,8,15"  href="https://www.facebook.com/VladimirThurmanDS" target="_blank")
						area(shape="rect" coords="9,0,31,15"  href="https://vk.com/thurman_guru_utp" target="_blank")
						area(shape="rect" coords="33,0,49,15"  href="https://www.instagram.com/vladimirthurman.biz/?hl=ru" target="_blank")
				//- .header-soc-buttons
				//- 	a.header-cos-button.header-soc-button-fb(href="http://", target="_blank")
				//- 	a.header-cos-button.header-soc-button-vk(href="http://", target="_blank")
				//- 	a.header-cos-button.header-soc-button-insta(href="http://", target="_blank")