*
	margin 0
	padding 0
	outline none
body
	color #000
	background-color #fff
	font-family: PTS
	font-size: 18px
	line-height: 26px
a
	color: #000
	&:focus
		outline: 0
		text-decoration none
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.video-wrapper
	margin 0 auto
	position relative
	width 100%
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border-radius 0
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
.general-title
	text-align: center
	font-size: 37px;
	font-family: PTSB
	text-transform: uppercase;
	line-height: 1.243;
	width 100%
	max-width: 836px;
	margin 0 auto 45px
.button
	display: block
	text-align: center
	margin 0 auto
	font-family: OSB
	border-radius: 5px;
	background-color: #fdce16
	box-shadow: 0 3px 0 0 #b3910e,0px 4px 18px 2px rgba(253, 206, 22, 0.36)
	width: 100%
	max-width: 237px;
	height: 68px;
	line-height: 68px
	transition: all .4s ease
	&:focus
		color #000
	&:hover
		color #000
		background-color: #fdce16 + 25%
	&:active
		color #000
		transform: translateY(3px)
		box-shadow: 0 0 0 0 #b3910e,0px 4px 13px 2px rgba(253, 206, 22, 0.6)