A = 'Akrobat','sans-serif';
OSB = 'OpenSansBold','sans-serif';
PTS = 'PTSans','sans-serif';
PTSB = 'PTSansBold','sans-serif';
PTSI = 'PTSansItalic','sans-serif';

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat.eot');
	src: url('../fonts/Akrobat.eot') format('embedded-opentype'),
		 url('../fonts/Akrobat.woff2') format('woff2'),
		 url('../fonts/Akrobat.woff') format('woff'),
		 url('../fonts/Akrobat.ttf') format('truetype'),
		 url('../fonts/Akrobat.svg#Akrobat') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.eot');
	src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansBold.woff2') format('woff2'),
		 url('../fonts/OpenSansBold.woff') format('woff'),
		 url('../fonts/OpenSansBold.ttf') format('truetype'),
		 url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PTSans.eot');
	src: url('../fonts/PTSans.eot') format('embedded-opentype'),
		 url('../fonts/PTSans.woff2') format('woff2'),
		 url('../fonts/PTSans.woff') format('woff'),
		 url('../fonts/PTSans.ttf') format('truetype'),
		 url('../fonts/PTSans.svg#PTSans') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansBold';
	src: url('../fonts/PTSansBold.eot');
	src: url('../fonts/PTSansBold.eot') format('embedded-opentype'),
		 url('../fonts/PTSansBold.woff2') format('woff2'),
		 url('../fonts/PTSansBold.woff') format('woff'),
		 url('../fonts/PTSansBold.ttf') format('truetype'),
		 url('../fonts/PTSansBold.svg#PTSansBold') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansItalic';
	src: url('../fonts/PTSansItalic.eot');
	src: url('../fonts/PTSansItalic.eot') format('embedded-opentype'),
		 url('../fonts/PTSansItalic.woff2') format('woff2'),
		 url('../fonts/PTSansItalic.woff') format('woff'),
		 url('../fonts/PTSansItalic.ttf') format('truetype'),
		 url('../fonts/PTSansItalic.svg#PTSansItalic') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: italic
}