.general-title
.button
.main-title
.why-item-title
.result-title
.bonus-info-title
.author-text span
.talk-item-cite
.modal-title
button.close
	font-weight: bold
.author-text.author-text-bg
.talk-item-cite span
	font-style: italic
.modal-title
	small
		font-weight: normal
.main-title
	font-size: 55px
.general-title
	max-width 650px
.bonus-info-title
	font-style: 32px
.talk-item
	font-style: 16px
.footer-contacts
	max-width 300px