@import '0.fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'
@import '../_css/owl.carousel.min.css'
@import '../_css/owl.theme.default.min.css'

@import '0.base'

@import '0.header'
@import 'main/1.main'
@import 'main/2.why'
@import 'main/3.results'
@import 'main/4.bonus'
@import 'main/5.author'
@import 'main/6.revs'
@import 'main/7.talks'
@import 'main/8.footer'
@import 'main/9.modal'
@import 'main/10.politics'
@import 'main/11.medias'