-var head_url = 'https://turman.info/404/';
-var head_title = 'Нет такой страницы...';
-var styles = '../css/congratulations.min.css';
-var fav_ico = '../favicon.ico';
-var fav_png = '../favicon.png';


<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		//- include pug/scripts/head_scripts
	body
		//- include pug/scripts/body_top_scripts
		include pug/0.header-2.pug
		section#error-page
			.container
				h1.main-title=head_title
		include pug/0.footer-2.pug
		script(src="../js/congratulations.min.js")
		include pug/scripts/body_bottom_scripts