-var head_url = 'https://turman.info/';
-var head_title = '«ТОП 3 Секрета упаковки бизнеса»';
-var head_description = '3-дневный мастер-класс Владимира Турмана';
//- -var head_img = 'img/banner.jpg';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';
-var date = 'с 12 по 14 мая, в 19:00 (мск)'

mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin b(cl)
	button.button(class=cl data-toggle="modal" data-target="#modal") Принять участие

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/0.header.pug
		include pug/main/1.main.pug
		include pug/main/2.why.pug
		include pug/main/3.results.pug
		include pug/main/4.bonus.pug
		include pug/main/5.author.pug
		include pug/main/6.revs.pug
		include pug/main/7.talks.pug
		include pug/main/8.footer.pug
		include pug/main/9.modal.pug
		include pug/main/10.politics.pug
		include pug/main/11.scripts.pug
		include pug/scripts/body_bottom_scripts