-var head_url = 'https://turman.info/special-offer/';
-var head_title = 'Руководство по УТП и продаже с 50% скидкой!';
-var head_description = 'Спецпредложение от Владимира Турмана';
-var styles = '../css/special-offer.min.css';
-var fav_ico = '../favicon.ico';
-var fav_png = '../favicon.png';

mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin b(cl,href,p,target)
	a.button(class=cl href=href target=target)=p

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/0.header.pug
		include pug/sp/1.main.pug
		include pug/sp/2.second.pug
		include pug/sp/3.revs.pug
		include pug/main/8.footer.pug
		include pug/sp/scripts.pug
		include pug/scripts/body_bottom_scripts