@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	header:before
		right calc(50% - 1620px)
	.why-item
		max-width 320px
	.why-text
		max-width 960px
	footer
		font-size: 16px
@media screen and (max-width 1199px)
	header:before
		right calc(50% - 1400px)
	#main
		overflow hidden
	.input-mail-main
		float: none
		display: block
		margin 0 auto 10px 0
	.button-form-main
		max-width 304px
	.checking.checking-main
		max-width 304px
		margin-left: 0
	.checking.checking-main .check-label
		line-height: 1
	.video-wrapper-main
		position relative
		bottom: 0
	#myPolitics .modal-dialog
		width auto
		margin 20px
	.bonus-img img
		width 100%
		top 100px
	.owl-theme .owl-nav
		top 13px
	.talk-item-text
		height 182px
	.talk-item-cite
		display: block
		height 82px
@media screen and (max-width 991px)
	header:before
		right calc(50% - 1290px)
	#main
		text-align: center
	.main-logo
		display block
		margin 0 auto
	.main-title
		margin 40px 0 30px
	.form-main
		margin 0 auto 30px
		width 100%
		max-width 304px
	.video-wrapper-main
		max-width 560px
	.main-img
		right 0
		left 0
		margin 0 auto
		width 100%
		max-width 560px
	#why
		padding 50px 0 0
	.why-item
		margin-bottom: 25px
		max-width 320px
		&-title
			&:after
				margin-bottom: 10px
	.bonus-info-title
		line-height: 1.1
	.bonus-img img
		position: static
		display: block
		width auto
		margin 0 auto 20px
		width 100%
		max-width 400px
	.bonus-info
		margin-top: -30px
		border-top: 0
		border-right: 7px solid #0094bd
		padding 0 30px 30px
	.general-title-author
		margin 30px 0 20px
	.performance-img
		height 150px
	.performance-img-link-3 .performance-img
		height 332px
	.owl-theme .owl-nav
		width 112%
		left -6%
	.talk-item-text
		height 260px
	.footer-logo
		width 100%
@media screen and (max-width 767px)
	header
	.header-soc-buttons
		text-align: center
	header:before
		height 50%
		left 0
		right 0
		width 100%
		top auto
		bottom: 0
	#main
	#talks
		padding 40px 0
	.main-title
		font-size: 44px
		margin 20px 0 10px
	.main-subtitle
		font-size: 22px
		margin-bottom: 20px
	#why
	#results
	#bonus
	#author
		padding 40px 0 0
	.input-mail-modal
		display block
		margin 0 auto 10px
		float: none
	.button-modal
		max-width 304px
	.checking-modal
		max-width 304px
	.checking-modal .check-label
		line-height: 1
	.performance-img
	.performance-img-link-3 .performance-img
		max-width 220px
	.performance-img-link
		width 100%
		max-width 220px
		margin 0 auto 20px
	.performance-img-link-3 .performance-img
		height 150px
	.talk-item-text
	.talk-item-cite
		height auto
	.footer-logo
		width auto
		display block
		margin 0 auto 20px
	.footer-soc-buttons
		text-align: center
	.footer-contacts
		margin-bottom: 10px
	.footer-text
		font-size: 12px
		margin-top: 10px
		line-height: 1
	footer
		padding 15px 0
	.general-title-author-performance
		margin-top: 40px
	.general-title
		font-size: 32px
		margin-bottom: 30px
	.contact-phone.footer-contact-phone
		display: block
		margin-bottom: 5px
		&:last-of-type
			margin-bottom: 0
	.owl-carousel
		width 100%
	.owl-theme .owl-nav
		width 100%
		position: static
		margin-top: 0
	#video-revs
		margin-bottom: 50px
	.footer-contacts
		max-width 113px
	.video-wrapper-rev-item
		margin-bottom:  30px
@media screen and (max-width 485px)
	#main
	#talks
		padding 30px 0
	.main-title
		font-size: 36px
		margin 20px 0 10px
	#why
	#results
	#bonus
	#author
		padding 30px 0 0
	.main-logo
		width 100%
		max-width 120px
		margin 0 auto
	#myPolitics .modal-title
	.modal-title
		font-size: 24px
	.general-title
		font-size: 26px
	.why-text
		padding 20px
		margin 20px auto
	.result
		text-align: center
		margin-bottom: 25px
		&-title
			font-size: 40px
	.bonus-info
		text-align: center
		margin-top: -40px
		padding 0 20px 20px
		margin-bottom: 20px
	.bonus-info-title
		font-size: 30px
	.bonus-info-text
		margin-top: 20px
	.general-title-author
		margin 30px 0 20px
	.author-text
		margin-bottom: 20px
	.talk-item
		margin-bottom: 20px
		&:before
		&:after
			opacity .05
	.footer-logo
		max-width 150px
	#myPolitics .modal-dialog
		margin 15px
@media screen and (max-width 385px)
	.contact
		display: inline-block
	header:before
		height 30px
	.main-title
		font-size: 32px
	.main-subtitle
	#myPolitics .modal-title, .modal-title
		font-size: 20px
	.general-title
	.bonus-info-title
		font-size: 24px