#bonus
	padding 50px 0 0
.bonus-info
	padding 35px 0 35px 35px
	border-top 7px solid #0094BD
	border-bottom 7px solid #0094BD
	border-left 7px solid #0094BD
	margin-bottom: 45px
	&-title
		font-size 37px
		color #e51c1c
		font-family: PTSB
		text-transform: uppercase
	&-text
		margin-top: 35px
.bonus-img
	position relative
	img
		position absolute
		top 30px
		right 0
		z-index 0