#revs
	padding 20px 0 0
.owl-carousel
	width 90%
	margin 0 auto
	position relative
.rev-title
	line-height: 19px
	text-transform: uppercase
	margin 15px 0 2px
.rev-text
	line-height: 19px
	font-size: 16px
.owl-theme .owl-nav
	position: absolute
	top 28px
	width 110%
	left -5%
	height 0
.owl-theme .owl-nav [class*="owl-"]
	color #0094BD
	font-size: 90px
	background-color: transparent
	position absolute
	transition: all .3s ease
	&:hover
		color #0094BD
		background-color: transparent
		opacity .7
.owl-prev
	left 0
.owl-next
	right 0