footer
	padding 12px 0 20px
	border-top: 7px solid #0094BD
.footer-contacts
	width 100%
	max-width 250px
	margin 0 auto 25px
.contact-phone.footer-contact-phone
	display: inline-block
	margin-left: 0
.contact-phone.footer-contact-phone:last-of-type
	background-image: none
.footer-soc-buttons
	text-align: right
.footer-text
	text-align: center