.modal-title
	font-size: 30px
	font-family: PTSB
	text-align: center
	width 88%
	margin 0 auto 30px
#modal
	.modal-content
		background-color: #3D2715
		background-image url(../img/backs/main-bg.jpg)
		background-repeat no-repeat
		background-position: center
		background-size: cover
		color #fff
	button.close
		color #fff