#second
	padding: 50px 0
	text-align: center
	background-image:  linear-gradient(180deg, #0F0402 0%, #52311A 50%, rgba(#fff,0.5) 90%)
	color #fff
.timer-title
	font-size: 28px
	text-align: center
	margin-bottom: 20px
.timer {
	width: 420px
	display: table;
    margin 0 auto
}

.timer-block {
	display: table-cell;
	border-radius: 5px;
	background-color: #fff;
	color: #2F0078;
	width: 105px;
	text-align: center;
	padding: 15px 10px;
	vertical-align: middle;
}

.timer-block-counter {
	font-family: 'Akrobat', sans-serif
	font-size: 50px;
	margin-bottom: 10px;
	line-height: 1.1;
}

.timer-block-name {
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Akrobat', sans-serif
}

.timer-divider {
	text-align: center;
	display: table-cell;
	vertical-align: top;
	font-size: 40px;
	padding: 25px 13px 0;
}
.second-text
	text-align: center
	font-size: 24px
	font-family: PTSB
	margin 30px 0
.button-second
	margin-bottom: 100px
#items
	padding 50px 0
	text-align: center
.second-item
	margin 0 auto 55px
	padding-top: 60px
	background-repeat no-repeat
	background-position: top center
	width 100%
	max-width 380px
	&-1
		background-image url(../img/icons/item-1.png)
	&-2
		background-image url(../img/icons/item-2.png)
	&-3
		background-image url(../img/icons/item-3.png)
	&-4
		background-image url(../img/icons/item-4.png)
	&-5
		background-image url(../img/icons/item-5.png)
.second-item-text
	font-size: 20px
	span
		font-family: PTSB
		display: block
		position relative
		&:after
			content: '';
			width: 100%;
			display: block
			max-width 100px
			height: 3px;
			background-color:#ff1516;

			margin 0 auto 10px
#revs
	padding 50px 0
.owl-carousel
	width 90%
	margin 0 auto
	position relative
.rev-title
	line-height: 19px
	text-transform: uppercase
	margin 15px 0 2px
.rev-text
	line-height: 19px
	font-size: 16px
.owl-theme .owl-nav
	position: absolute
	top 28px
	width 110%
	left -5%
	height 0
.owl-theme .owl-nav [class*="owl-"]
	color #0094BD
	font-size: 90px
	background-color: transparent
	position absolute
	transition: all .3s ease
	&:hover
		color #0094BD
		background-color: transparent
		opacity .7
.owl-prev
	left 0
.owl-next
	right 0