@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	header:before
		right calc(50% - 1620px)
	.owl-theme .owl-nav
		top 68px
	footer
		font-size: 16px
@media screen and (max-width 1199px)
	header:before
		right calc(50% - 1400px)
	#main
		overflow hidden
	.owl-theme .owl-nav
		top 35px
@media screen and (max-width 991px)
	header:before
		right calc(50% - 1290px)
	#main
		text-align: center
	.main-logo
		display block
		margin 0 auto
	.owl-theme .owl-nav
		top 15px
		width 112%
		left -6%
	.footer-logo
		width 100%
@media screen and (max-width 767px)
	header
	.header-soc-buttons
		text-align: center
	header:before
		height 50%
		left 0
		right 0
		width 100%
		top auto
		bottom: 0
	#main
	#second
	#items
		padding 40px 0
		// padding 0 0 40px
	#revs
		padding 40px 0
	.footer-logo
		width auto
		display block
		margin 0 auto 20px
	.footer-contacts
		margin-bottom: 10px
	.footer-text
		font-size: 12px
		margin-top: 10px
		line-height: 1
	footer
		padding 15px 0
	.footer-soc-buttons
		text-align: center
	.general-title
		font-size: 32px
		margin-bottom: 30px
	.contact-phone.footer-contact-phone
		display: block
		margin-bottom: 5px
		&:last-of-type
			margin-bottom: 0
	.owl-carousel
		width 100%
	.owl-theme .owl-nav
		width 100%
		position: static
		margin-top: 0
	#video-revs
		margin-bottom: 50px
	.footer-contacts
		max-width 113px
	.video-wrapper-rev-item
		margin-bottom:  30px
@media screen and (max-width 485px)
	.main-logo
		width 100%
		max-width 120px
		margin 0 auto
	.main-title
		font-size: 26px
	.main-subtitle
		font-size: 22px
	.general-title
	.timer-title
		font-size: 24px
	.second-item
		margin-bottom: 35px
	.timer
		width 250px
	.timer-block
		padding 8px
	.timer-block-counter
		font-size: 30px
		margin-bottom: 0
	.timer-block-name
		font-size: 12px
	.timer-divider
		font-size: 30px;
		padding: 9px 8px 0;
	.footer-logo
		max-width 150px
@media screen and (max-width 385px)
	.contact
		display: inline-block
	header:before
		height 30px
	#main
	#second
	#items
		padding 30px 0
		// padding 0 0 30px
	#revs
		padding 30px 0 
	.main-title
	.general-title
	.timer-title
		font-size: 22px
	.main-subtitle
		font-size: 18px