section#main
	.container
		.row
			.col-md-6.col-sm-6
				a(href="/", target="_blank")
					img.main-logo(src="img/images/logo.png" alt="Лого")
				h1.main-title ТОП 3 Секрета упаковки бизнеса
				h2.main-subtitle Как увеличить продажи минимум в 2 раза в 2020 году с помощью авторской системы от ведущего эксперта по разработке УТП и маркетинговой упаковке бизнеса
				form(action="" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" ).form.form-main
					.email-block.email-block-form
						input( type="hidden" value="1" name="required_fields[email]")
						input(class="input input-mail input-mail-main" name="Contact[email]" type="text" placeholder="Ваш email")
					button(type="submit").button.button-form.button-form-main Принять участие
					.clearfix
					p.alert-message
					.checking
						input(type="checkbox" id="check-1" checked).check
						label(for="check-1").check-label Я согласен с 
							a(href="javascript:void(0);")(data-toggle="modal" data-target="#myPolitics")  условиями обработки персональных данных по 152 - Ф3
					div(style="display: none;")
						#formTypeSpecificVars-1(style="display: none;")
							input(type="hidden" value="1114" id="form_newsletter_id_newsletter_1" name="Contact[id_newsletter]")
						<!-- API код канала рекламы -->
						input(type="hidden" value="0" id="form_newsletter_id_advertising_channel_page_1" name="Contact[id_advertising_channel_page]")
						input(type="hidden" name="formId" value="257")
						input(type="hidden" name="formVc" value="1280138588")
			.col-md-6.col-sm-6
				.video-wrapper.video-wrapper-main
					iframe(src="https://youtube.com/embed/?autoplay=1&mute=1" allowfullscreen)
				.main-img
					img(src="img/images/turman.png", alt="Владимир Турман")