mixin why(cl,h4,p)
	.col-md-3
		.why-item(class=cl)
			h4.why-item-title=h4
			p.why-item-text=p

section#why
	.container
		+gt('','почему нужно прийти на мастер-класс:')
		.row
			+why('why-item-1','Регулярное уменьшение','Регулярное уменьшение объемов продаж на фоне прогнозируемого экономического кризиса')
			+why('why-item-2','Трудности с поиском','Трудности с поиском квалифицированного персонала')
			+why('why-item-3','Отсутствие системы','Отсутствие системы привлечения новых клиентов')
			+why('why-item-4','Работа в каторгу','Любимая когда-то работа превращается в каторгу, начинаете чувствовать себя как «раб на галерах», а бизнес как «чемодан без ручки – тащить тяжело, а бросить жалко»')
		p.why-text Существующие маркетинговые механики (SMM-маркетинг, копирайтинг, красивый дизайн, даже автоматизированная и вариативная воронка продаж, продвинутый e-mail маркетинг) не могут существенно увеличить продажи и кардинально улучшить конверсии по всей воронке продаж
		+b('')