mixin res(cl,h4,p)
	.result(class=cl)
		h4.result-title=h4
		p.result-text=p
section#results
	.container
		+gt('','результаты, которые получают участники 3-х дневного мастер-класса')
		.row
			.col-md-4.col-sm-4
				+res('result-1','01','Чек-лист для оценки существующих коммерческих предложений и рекламных материалов, которая позволит перестать сливать рекламные бюджеты')
			.col-md-4.col-sm-4
				+res('result-2','02','Единственную в мире Модель РАЗРАБОТКИ Уникального Торгового Предложения')
			.col-md-4.col-sm-4
				+res('result-3','03','24 Психологических триггера, формирующих иррациональное желание к приобретению товаров, продуктов или услуг')
		.row
			.col-md-4.col-sm-4
				+res('result-4','04','Технологию оценки и оцифровки рабочих гипотез, которая уже в следующем месяце сэкономит рекламный бюджет')
			.col-md-4.col-sm-4
				+res('result-5','05','Разбор краткого алгоритма разработки УТП и маркетинговой упаковки бизнеса')
			.col-md-4.col-sm-4
				+res('result-6','06','Обзор полного алгоритма маркетинговой упаковки бизнеса, с помощью которой вы удвоите (минимум) ваши доходы в следующие 12 месяцев')
		.row
			.col-md-12.col-sm-12
				+res('result-7','07','Подробный разбор кейсов: «Привлечение 250 000 000 долларов», «Квартира, машина и вторая половина с помощью УТП», «Как раскрутить бизнес без бюджета, персонала и в высоко конкурентном окружении», и другие...')
		+b('')