section#bonus
	.container
		.row
			.col-md-8.col-sm-8
				.bonus-info
					h4.bonus-info-title Бонус и подарок стоимостью 1 490$:
					p.bonus-info-text Технология запуска восходящего цикла вашей жизни и бизнеса – без этого все усилия (самостоятельные, учение по книжкам и на других тренингах) не дадут никакого результата
					p.bonus-info-text Вы – это сердце вашего бизнеса. Без вас, без осознания вашего действительного Предназначения и чувства Миссии – все ваши усилия и инвестиции, к сожалению, будут потеряны в никуда
					p.bonus-info-text  Вы сбросите тяжкий груз прошлого, состоящий из ограничивающих мыслей и убеждений, и получите ключ к внутренней свободе, почувствуете силу, энергию и мотивацию, а также получите пошаговую Систему, которая навсегда изменит ваш бизнес и вашу жизнь!
			.col-md-4.col-sm-4
				.bonus-img
					img(src="img/images/money.jpg", alt="Деньги")
		+b('')