section#revs
	.container
		+gt('','Отзывы')
		.row
			.col-md-6.col-sm-6
				.video-wrapper.video-wrapper-rev-item(data-youtube="ZXF8lh8XO-4" data-img="img/revs/video-1.jpg")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1" )
			.col-md-6.col-sm-6
				.video-wrapper.video-wrapper-rev-item(data-youtube="9TuyJ559c8w" data-img="img/revs/video-2.jpg")
					img(src="img/revs/video-2.jpg", alt="Видео-отзыв 2" )
		.row
			.col-md-6.col-sm-6
				.video-wrapper.video-wrapper-rev-item(data-youtube="6L-Bcd1gs7k" data-img="img/revs/video-7.jpg")
					img(src="img/revs/video-7.jpg", alt="Видео-отзыв 3" )
			.col-md-6.col-sm-6
				.video-wrapper.video-wrapper-rev-item(data-youtube="JEvIf7kn_r4" data-img="img/revs/video-8.jpg")
					img(src="img/revs/video-8.jpg", alt="Видео-отзыв 7" )
		//- .owl-carousel.owl-theme#video-revs
		//- 	div
		//- 		.video-wrapper.video-wrapper-rev(data-youtube="ZXF8lh8XO-4" data-img="img/revs/video-1.jpg")
		//- 			img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1" )
		//- 		h4.rev-title Валентин Василевский
		//- 		p.rev-text продюсер, интернет предприниматель
		//- 	div
		//- 		.video-wrapper.video-wrapper-rev(data-youtube="9TuyJ559c8w" data-img="img/revs/video-2.jpg")
		//- 			img(src="img/revs/video-2.jpg", alt="Видео-отзыв 2" )
		//- 		//- h4.rev-title Валентин Василевский
		//- 		//- p.rev-text продюсер, интернет предприниматель
		//- 	div
		//- 		.video-wrapper.video-wrapper-rev(data-youtube="ZXF8lh8XO-4" data-img="img/revs/video-1.jpg")
		//- 			img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1" )
		//- 		h4.rev-title Валентин Василевский
		//- 		p.rev-text продюсер, интернет предприниматель
		//- 	div
		//- 		.video-wrapper.video-wrapper-rev(data-youtube="9TuyJ559c8w" data-img="img/revs/video-2.jpg")
		//- 			img(src="img/revs/video-2.jpg", alt="Видео-отзыв 2" )
		//- 		//- h4.rev-title Валентин Василевский
		//- 		//- p.rev-text продюсер, интернет предприниматель
		//- 	div
		//- 		.video-wrapper.video-wrapper-rev(data-youtube="ZXF8lh8XO-4" data-img="img/revs/video-1.jpg")
		//- 			img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1" )
		//- 		h4.rev-title Валентин Василевский
		//- 		p.rev-text продюсер, интернет предприниматель
		//- 	div
		//- 		.video-wrapper.video-wrapper-rev(data-youtube="9TuyJ559c8w" data-img="img/revs/video-2.jpg")
		//- 			img(src="img/revs/video-2.jpg", alt="Видео-отзыв 2" )
		//- 		//- h4.rev-title Валентин Василевский
		//- 		//- p.rev-text продюсер, интернет предприниматель
		//- 	div
		//- 		.video-wrapper.video-wrapper-rev(data-youtube="ZXF8lh8XO-4" data-img="img/revs/video-1.jpg")
		//- 			img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1" )
		//- 		h4.rev-title Валентин Василевский
		//- 		p.rev-text продюсер, интернет предприниматель
		//- 	div
		//- 		.video-wrapper.video-wrapper-rev(data-youtube="9TuyJ559c8w" data-img="img/revs/video-2.jpg")
		//- 			img(src="img/revs/video-2.jpg", alt="Видео-отзыв 2" )
		//- 		//- h4.rev-title Валентин Василевский
		//- 		//- p.rev-text продюсер, интернет предприниматель