section#revs
	.container
		+gt('','Отзывы')
		.owl-carousel.owl-theme#video-revs
			div
				.video-wrapper.video-wrapper-rev(data-youyube="")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1")
				h4.rev-title Валентин Василевский
				p.rev-text продюсер, интернет предприниматель
			div
				.video-wrapper.video-wrapper-rev(data-youyube="")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1")
				h4.rev-title Валентин Василевский
				p.rev-text продюсер, интернет предприниматель
			div
				.video-wrapper.video-wrapper-rev(data-youyube="")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1")
				h4.rev-title Валентин Василевский
				p.rev-text продюсер, интернет предприниматель
			div
				.video-wrapper.video-wrapper-rev(data-youyube="")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1")
				h4.rev-title Валентин Василевский
				p.rev-text продюсер, интернет предприниматель
			div
				.video-wrapper.video-wrapper-rev(data-youyube="")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1")
				h4.rev-title Валентин Василевский
				p.rev-text продюсер, интернет предприниматель
			div
				.video-wrapper.video-wrapper-rev(data-youyube="")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1")
				h4.rev-title Валентин Василевский
				p.rev-text продюсер, интернет предприниматель
			div
				.video-wrapper.video-wrapper-rev(data-youyube="")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1")
				h4.rev-title Валентин Василевский
				p.rev-text продюсер, интернет предприниматель
			div
				.video-wrapper.video-wrapper-rev(data-youyube="")
					img(src="img/revs/video-1.jpg", alt="Видео-отзыв 1")
				h4.rev-title Валентин Василевский
				p.rev-text продюсер, интернет предприниматель