mixin talk(cl,p,cite,who)
	.col-md-4.col-sm-4
		.talk-item(class=cl)
			p.talk-item=p
			cite.talk-item-cite=cite
				span=who

section#talks
	.container
		+gt('','ЧТО ГОВОРЯТ ПРЕДПРИНИМАТЕЛИ И ЭКСПЕРТЫ О СИСТЕМЕ РАЗРАБОТКИ УТП')
		.row
			+talk('talk-item-1','«Владимир Турман – создал очень полезную для предпринимателей систему развития бизнеса»','Алина Суслова','Startup Village, Skolkovo')
			+talk('talk-item-2','«Вопрос развития креативного мышления сейчас как никогда актуален для малого, среднего и крупного бизнеса»','Николас Коро','RCB&B, Гильдия маркетологов')
			+talk('talk-item-3','«У предпринимателей сейчас большие проблемы. Спасибо Владимиру, что он создал такую программу»','Александр Лавров','3DreemTeam LLT, Vizerra')
		.row
			+talk('talk-item-4','«Владимир Турман собирает большой практический опыт и передает его предпринимателям»','Максим Киселев','Kingston University')
			+talk('talk-item-5','«Без креативного мышления в бизнесе сейчас делать нечего. Владимир проделал большую работу»','Владимир Маринович','GetTaxi, БШ «Вверх»')
			+talk('talk-item-6','«Ситуация на рынке так изменилась, что мы просто не знали, как раскрутить новое направление бизнеса. Теперь у нас в руках пошаговая система управления изменениями»','Евгений Тюрин','Климатическая студия «Буревент»')
		+b('')