footer
	.container
		.row
			.col-md-4.col-sm-4
				a(href="/", target="_blank")
					img(src="/img/images/footer-logo.png", alt="Логотип").footer-logo
			.col-md-4.col-sm-4
				.footer-contacts
					.row
						.col-md-6
							a.contact.contact-phone.footer-contact-phone(href="callto:84993467946" target="_blank") 8/499/346-79-46
						.col-md-6
							a.contact.contact-email(href="mailto:info@turman.info" target="_blank") info@turman.info
			.col-md-4.col-sm-4
				.footer-soc-buttons
					img(usemap="#footer-soc-buttons" src="/img/icons/footer-soc-buttons.png")
					map(name="footer-soc-buttons")
						area(shape="rect" coords="0,0,25,25"  href="https://www.facebook.com/VladimirThurmanDS" target="_blank")
						area(shape="rect" coords="26,0,64,25"  href="https://vk.com/thurman_guru_utp" target="_blank")
						area(shape="rect" coords="64,0,90,25"  href="https://www.instagram.com/vladimirthurman.biz/?hl=ru" target="_blank")
				//- .footer-soc-buttons
					//- a.footer-cos-button.footer-soc-button-fb(href="http://", target="_blank")
					//- a.footer-cos-button.footer-soc-button-vk(href="http://", target="_blank")
					//- a.footer-cos-button.footer-soc-button-insta(href="http://", target="_blank")
		p.footer-text Copyright © 2015 - 2020 Ресурсный центр развития бизнеса