footer
	.container
		.row
			.col-md-4.col-sm-4
				a(href="/", target="_blank")
					img(src="img/images/logo.png", alt="Логотип").footer-logo
			.col-md-4.col-sm-4
				.footer-contacts
					.row
						.col-md-6.col-sm-6
							a.footer-contact-phone(href="callto:" target="_blank") 7/968/418-63-69
							a.footer-contact-phone(href="callto:" target="_blank") 7/968/418-63-69
						.col-md-6.col-sm-6
							a.contact.contact-email(href="mailto:" target="_blank") info@site.ru
			.col-md-4.col-sm-4
				.footer-soc-buttons
					img(usemap="#footer-soc-buttons" src="img/icons/footer-soc-buttons.jpg")
					map(name="footer-soc-buttons")
						area(shape="rect" coords="0,0,25,25"  href="https://turman/fb/" target="_blank")
						area(shape="rect" coords="30,0,59,25"  href="https://turman/tw/" target="_blank")
						area(shape="rect" coords="64,0,89,25"  href="https://turman/insta/" target="_blank")
						area(shape="rect" coords="95,0,127,25"  href="https://turman/yt/" target="_blank")
						area(shape="rect" coords="133,0,171,25"  href="https://turman/vk/" target="_blank")
				//- .footer-soc-buttons
					//- a.footer-cos-button.footer-soc-button-fb(href="http://", target="_blank")
					//- a.footer-cos-button.footer-soc-button-tw(href="http://", target="_blank")
					//- a.footer-cos-button.footer-soc-button-vk(href="http://", target="_blank")
					//- a.footer-cos-button.footer-soc-button-yt(href="http://", target="_blank")
					//- a.footer-cos-button.footer-soc-button-insta(href="http://", target="_blank")
		p.footer-p Copyright © 2015 - 2020 Ресурсный центр развития бизнеса